alias ls='ls --color=auto'
alias ll='ls -lav --ignore=..'   # show long listing of all except ".."
alias l='ls -lav --ignore=.?*'   # show long listing but no hidden dotfiles except "."

alias v='nvim'
alias vim='nvim'
alias tmux='tmux -u'

alias picture='feh -S name --version-sort -.|'
alias document='zathura'
alias video='mpv'
alias audio='mpv'

alias wifi='nmtui'

alias gs='git status -s'
alias ga='git add'
alias gu='git add -u'
alias gc='git commit'

export MANPAGER='nvim --clean +Man!'
