alias ls='ls --color=auto'
alias ll='ls -lav --ignore=..'   # show long listing of all except ".."
alias l='ls -lav --ignore=.?*'   # show long listing but no hidden dotfiles except "."

alias vim='nvim'
alias tmux='tmux -u'

alias picture='feh -S name --version-sort -.|'
alias document='zathura'
alias video='mpv'
alias audio='mpv'

function cdmkdir() {
	if [ ! -d "$1" ]; then
		mkdir -p "$1"
	else
		echo "$1 already exists"
	fi
	cd "$1"
}

alias mcd='cdmkdir'
